.vscode/**
.vscode-test/**
src/**
.gitignore
.git/**
.github/**
vsc-extension-quickstart.md
webpack.config.js
tsconfig.json
.eslintrc.json
**/*.js.map
**/*.ts
*.tsbuildinfo
node_modules/**/*.ts
node_modules/**/*.map
.DS_Store
CONTRIBUTING.md
PUBLISHING.md
details.txt
package-lock.json
test/**
